html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    background: #F5F5F5;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    cursor: pointer;
}

.hide{
    display: none;
}

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 9rem;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header_logo{
    width: 5rem;
    height: 5rem;
    margin: 2rem 5.3rem 2rem 2rem;
}

.header_inp{
    width: 58.1rem;
    height: 4.4rem;
    margin: 2.3rem 38rem 2.3rem 0;
    box-sizing: border-box;
    border: 1px solid rgba(51, 51, 51, 0.2);
    padding-left: 1.6rem;
    padding-right: 32rem;
}

.header_inp::-webkit-input-placeholder {
    color: #B0B0B0;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.main{
    margin: 4rem 2rem;
    display: flex;
    justify-content: center;
}


.main_header{
    display: block;
}

.main_title{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #333333;
    margin-bottom: 2.6rem;

}

.main_columns{
    display: flex;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #B0B0B0;
}

.column_id{
    margin: 0 4.7rem .8rem 2rem;
    display: flex;
    align-items: center;
    color: #9873FF;
}

.column_fio{
    margin: 0 6.4rem .8rem 0;
    display: flex;
    align-items: center;
}

.column_creation_date{
    margin: 0 7.6rem .8rem 0;
    display: flex;
    align-items: center;
    /* max-width: 9rem; */
}

.column_last_change{
    margin: 0 4.2rem .8rem 0;
    display: flex;
    align-items: center;
}

.column_contacts{
    margin: 0 9.4rem .8rem 0;
    align-items: center;
}

.column_actions{
    margin: 0 15.2rem .8rem 0;
    align-items: center;
}

.sort{
    width: .8rem;
    height: .8rem;
    margin-left: .2rem;
}


.client{
    font-size: 1.4rem;
    line-height: 1.9rem;
    display: flex;
    align-items: center;
    color: #333333;
    width: 106.2rem;
    min-height: 6.7rem;
    background: white;
    border-bottom: .15rem solid #C8C5D1;
    border-radius: 0px;
}

.client_id{
    font-size: 1.2rem;
    color: #B0B0B0;
    padding-left: 2rem;
    padding-right: 2.8rem;
    max-width: 4.2rem;
    min-width: 3.4em;
    word-wrap: break-word;
}

.client_fio{
    padding-right: 4.2rem;
    max-width: 16.9rem;
    min-width: 16.9rem;
    word-wrap: normal;
}

.client_contact_icon{
    width: 1.6rem;
    height: 1.6rem;
}

.client_creation_date{
    padding-right: 1rem;
}

.client_creation_time{
    color: #B0B0B0;
}

.client_last_change_date{
    margin-left: 10.4rem;
    padding-right: 1rem;
}

.client_last_change_time{
    color: #B0B0B0;
    margin-right: 7rem;
}

.client_contacts{
    max-width: 11rem;
}

.client_actions{
    margin-left: auto;
    display: flex;
    padding-right: 4rem;
}

.client_action_btn{
    background: none;
    border: none;
    font-size: 1.4rem;
    line-height: 1.9rem;
    display: flex;
    align-items: center;
    color: #333333;
}

.action_img{
    margin-right: .2rem;
    width: 1.2rem;
    height: 1.2rem;
}

.body_add{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 21.6rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.9rem;
    border: 1px solid #9873FF;
    color: #9873FF;
    background: none;
}

.body_add_icon{
    width: 2.2rem;
    height: 1.6rem;
    margin-right: 1rem;
}

.modal {
    position: fixed;
    display: flex;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

/* animation */
.md-effect-1 .md-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/* end */

.close_modal{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer; 
}

.modal_inner{
    position: relative;
    display: grid;
    width: 45rem;
    background: white;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.modal_add_title{
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #333333;
    }

.modal_add_inp{
    width: 39rem;
    height: 3rem;
    border: none;
    border-bottom: .2rem solid #C8C5D1;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #333333;
}

.modal_add_inp:not(:last-child){
    margin-bottom: 3.2rem;
}

.modal_add_header{
    margin-left: 3rem;
}

.modal_add_inp::-webkit-input-placeholder {
    color: #B0B0B0;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.modal_add_contacts{
    height: fit-content;
    background: #f3f1f3;
    width: 100%;
}

.modal_add_contact{
    width: 100%;
    height: 3.5rem;
    background: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #333333;

}

.contact_type_select{
    width: 12.3rem;
    height: 3.7rem;
    background: #E7E5EB;
    border: .1rem solid #f3f1f3;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.contact:first-child{
    margin-top: 2.5rem;
}

.contact_value{
    width: 24.1;
    height: 3.2rem;
    border: 1px solid #C8C5D1;
}

.contact_value::-webkit-input-placeholder {
    color: #B0B0B0;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.remove_contact{
    width: 2.7rem;
    height: 3.7rem;
    background: #E7E5EB;
    border: 1px solid #C8C5D1;
}

.modal_add_contact_icon{
    width: 1.3rem;
    height: 1.3rem;
}

.modal_add_btns{
    display: grid;
    margin: auto;
}

.modal_add_save{
    width: 14.7rem;
    height: 4.4rem;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-align: center;
    color: #FFFFFF;
    background: #9873FF;
}

.modal_add_cancel{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-decoration-line: underline;
    background: none;
    color: #333333;
    padding-bottom: 2rem;
}


.edit_form_title{
    display: flex;
}

.edit_form_id{
    margin-left: 1rem;
    margin-top: 3.1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #B0B0B0;
}

.edit_form_inp_title{
    font-size: 1rem;
    line-height: 1.4rem;
    color: #B0B0B0;
}

.delete_accept{
    gap: 0;
}

.delete_title{
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-top: 2.2rem;
    margin-bottom: 1rem;
    color: #333333;
}

.delete_text{
    margin-top: 0;
    margin-bottom: 2.5rem;
    max-width: 27rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #333333;
}

.del_accept_btn{
    margin: 0 auto;
}

.del_cancel{
    margin-top: .5rem;
    margin-bottom: 2.7rem;
}